# SQL for accessing postgreSQL

データベースシステム講義資料  
version 0.0.1   
authors: H. Chenan & N. Tsutsumida  

Copyright (c) 2023 Narumasa Tsutsumida  
Released under the MIT license  
https://opensource.org/licenses/mit-license.php

In [6]:
import os
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', 20)

In [7]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

### Q1: adm2のテーブルのはじめの３行を表示せよ。

In [8]:
sql = "select * from adm2;"

In [9]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

       gid   id_0  iso name_0  id_1     name_1    id_2      name_2 type_2  \
0        1  114.0  JPN  Japan   1.0      Aichi     1.0        Agui  Machi
1        2  114.0  JPN  Japan   1.0      Aichi     2.0       Aisai    Shi
2        3  114.0  JPN  Japan   1.0      Aichi     3.0        Anjō    Shi
3        4  114.0  JPN  Japan   1.0      Aichi     4.0         Ōbu    Shi
4        5  114.0  JPN  Japan   1.0      Aichi     5.0      Ōguchi  Machi
...    ...    ...  ...    ...   ...        ...     ...         ...    ...
1806  1807  114.0  JPN  Japan  47.0  Yamanashi  1807.0    Tabayama   Mura
1807  1808  114.0  JPN  Japan  47.0  Yamanashi  1808.0       Tsuru    Shi
1808  1809  114.0  JPN  Japan  47.0  Yamanashi  1809.0    Uenohara    Shi
1809  1810  114.0  JPN  Japan  47.0  Yamanashi  1810.0  Yamanakako   Mura
1810  1811  114.0  JPN  Japan  47.0  Yamanashi  1811.0   Yamanashi    Shi

     engtype_2 nl_name_2 varname_2  \
0         Town      阿久比町      None
1         City       愛西市      None
2         City       安城市      None
3         City       大府市      None
4         Town       大口町      None
...        ...       ...       ...
1806   Village      丹波山村      None
1807      City       都留市      None
1808      City      上野原市      None
1809   Village      山中湖村      None
1810      City       山梨市      None

                                                   geom
0     0106000020E6100000010000000103000000010000005F...
1     0106000020E610000001000000010300000001000000B9...
2     0106000020E610000001000000010300000001000000E3...
3     0106000020E61000000100000001030000000100000090...
4     0106000020E61000000100000001030000000100000050...
...                                                 ...
1806  0106000020E6100000010000000103000000010000004C...
1807  0106000020E61000000100000001030000000100000066...
1808  0106000020E6100000010000000103000000010000006C...
1809  0106000020E6100000010000000103000000010000004B...
1810  0106000020E6100000010000000103000000010000007E...

[1811 rows x 13 columns]

### Q2. 埼玉県に市町村はいくつ？

In [7]:
sql = "select count(*) from adm2 where name_1='Saitama';"

In [8]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   count
0     70

### Q3. 埼玉県内の市町村の面積はいくつ？

In [9]:
sql = "select name_2, st_area(geom::geography)/1000000 as area_km2 from adm2 where name_1='Saitama' order by area_km2 desc;"

In [10]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

      name_2    area_km2
0   Chichibu  580.613825
1    Saitama  214.786049
2      Hannō  193.310708
3      Ogano  166.334062
4   Kumagaya  152.581820
..       ...         ...
65    Yashio   14.055176
66      Wakō   13.258872
67     Shiki    9.550229
68  Hatogaya    7.359766
69    Warabi    6.587194

[70 rows x 2 columns]

### Q4. 埼玉県に市町村はいくつ？(osmで)

In [11]:
sql = "with saitama_pref as \
    (select * from planet_osm_polygon \
        where name='埼玉県' and \
        admin_level='4') \
    select count(*) from planet_osm_polygon as c, saitama_pref as p \
    where c.admin_level='7' and st_within(c.way, p.way);"

In [12]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   count
0     75

### Q5. さいたま市内のコンビニの総数

In [13]:
sql = "select count(pt.*) from planet_osm_point pt, adm2 poly \
        where pt.shop='convenience' and \
            poly.name_2='Saitama' and \
            st_within(pt.way,st_transform(poly.geom, 3857));"

In [14]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   count
0    404

### Q6. 埼玉市内の駅周辺（半径300 m）のコンビニはいくつ？

In [15]:
sql = "select buffer.name, count(DISTINCT(pt.osm_id)) from planet_osm_point as pt, \
        (select pt.osm_id, pt.name, st_buffer (pt.way, 300) \
            from planet_osm_point pt, adm2 poly2 \
        where pt.railway='station' and poly2.name_2='Saitama' and \
        st_within(pt.way,st_transform(poly2.geom, 3857))) as buffer, adm2 as poly \
        where pt.shop='convenience' and poly.name_2='Saitama' and \
        ST_Within(pt.way,buffer.st_buffer) \
        group by buffer.name order by count desc;"

In [16]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

           name  count
0            大宮     19
1           北浦和      9
2           南浦和      7
3            浦和      7
4            宮原      6
5            与野      5
6          武蔵浦和      5
7           東浦和      4
8            岩槻      4
9           東大宮      4
10           指扇      4
11      さいたま新都心      3
12           土呂      3
13           日進      3
14         与野本町      2
15           七里      2
16           今羽      2
17         浦和美園      2
18        鉄道博物館      2
19          大和田      2
20          中浦和      2
21          北与野      2
22          東岩槻      2
23          東宮原      1
24         大宮公園      1
25          加茂宮      1
26          北大宮      1
27  はくぶつかんちゅうおう      1
28          西大宮      1